<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Menu Items*@
        <li class=""></li>
        <li> <a href="/Admin/News">&nbsp;&nbsp;News</a></li>
        <li class="divider" />
        <li> <a href="/Admin/Users">&nbsp;&nbsp;Users</a></li>
        <li class="divider" />
        <li> <a href="/Admin/Editors">&nbsp;&nbsp;Editors</a></li>
    </ul>
</li>
